<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/homepage.css" type="text/css">

        <!--<style>
            body{
                height: 100vh;
                background: linear-gradient(120deg,#bdc3c7 ,#2c3e50);
   
            }
            
            
            .header{
               /* background-color:black;*/
                color: white;
                position: absolute;
                height: 60px;
                top: 20px;
                left: 0px;
                right: 0px;
                font-size: 10px;
                
            }
            .mainheadding{
                position: absolute;
                left:10px;
                top:40px;
                width: 700px;
                height: 50px;
            }

            .header img{
                margin-left: 60px;
                height: 20px;
            }
            .header h1{
                font-size: 25px;

            }
            .h1{
                display: inline-flex;
               margin-left: 30px;
                transition: 1s;
                text-shadow: 0px 0px 6px white;  
            }
            .h7{
                display: inline-flex;
                margin-left: 60px;
                text-shadow: 0px 0px 6px white;  

            }
            .header h1:hover{
                color: black;
            }

            .h2{
                display: inline-flex;
                margin-left: 60px;
                transition: 1s;
                text-shadow: 0px 0px 6px white;  
            }
            .header h2:hover{
                color: black;
            }
            .h3{
                display: inline-flex;
                margin-left: 60px;
                transition: 1s;
                text-shadow: 0px 0px 6px white;  
            }
            .header h3:hover{
                color: black;
            }
            .h4{
                display: inline-flex;
                margin-left: 60px;
                transition: 1s;
                text-shadow: 0px 0px 6px white;  
            }
            .header h4:hover{
                color: black;
            }
            .h5{
                display: inline-flex;
                margin-left: 60px;
                transition: 1s;
                text-shadow: 0px 0px 6px white;  
            }
            .header h5:hover{
                color: black;
            }
            .h6{
                display: inline-flex;
                margin-left: 70px;
                transition: 1s;
                text-shadow: 0px 0px 6px white;  
            }
            .header h6:hover{
                color: black;
            }
            .body1{
                position: absolute;
                top: 150px;
                height: 700px;
                width: 100%;
                left: 0px;
            }
            .body1 h1{
                text-align: center;
                color: white;
                font-family: 'Times New Roman', Times, serif;
            }
            .body1 h2{
                text-align: center;
                color: white;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin-top: 10px; 
                margin-bottom: 150px;

            } 
            .body1 button{
                
                position: absolute;
                left: 90%;
                font-size: 15px;
                color: cadetblue;
                }
                .images img{
                    display: inline-block;
                    
                    margin-top: 10px;
                }
                .images h3{
                    display: inline-block;
                    margin-left: 310px;
                }
                

.wel{


text-shadow: 0px 0px 10px white;  
    
}
.body1 img{
    height: 450px;
    width: 400px;
   
    
}
.images{
    height: 550px;
    width: 400px;
    position: relative;
    margin-left: 60%;
    display: inline-flex;
    overflow: scroll;
    top: 100px;
    
    
}
.headings {
position: absolute;
top: 500px;
width: 2400px;
display: inline-flex;
    overflow: hidden;
    
}
.headings a{
    margin-left: 170px;
    text-align: center;
    margin-right: 180px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: italic;
    text-shadow: 0px 0px 10px white;
    
}
input{
    
 margin-left: 40px;
width: 300px;
height: 30px;
border-radius: 10px;
margin-top: 12.5px;

    
}

.topdec{
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 150px;
   
}
.lo{
    width: 300px;
    position: absolute;
    
    top: 200px;
    left: 170px;
    height: 300px;
    transition: 2s;

    }

.lo:hover{
    transform: scale(1.1);
     transition: 2s;
  
}
            a{
                text-decoration: none;
                color: white;
            }
        </style>-->
        
    </head>
    <body>
        <div class="topdec">

        </div>
        <div class="header">
            
           <a href="#"> <h1 class="h1">Home</h1></a>
            <a href="twitter.ejs"><h1 class="h3">Hilariously Tweeted</h1></a>
           <a href="meme.ejs"> <h1 class="h4">Meme It</h1></a>
           
            <input class="input" type="name" placeholder="search here!"> 
            <a href="inspired.ejs"><h1 class="h5">Get Inspired</h1></a>
            <a href="stories.ejs"><h1 class="h6">Stories</h1></a>
            <a href="#"><h1 class="h7">Experience it</h1></a>
            
        </div>
        
        <div class="body1">
          
           <button class="btnn"><a style="text-decoration: none;height: 20px;width: 50px;color: black;" href="login.html">Sign In/login</a></button>
            <div class="mainheadding">
                <h1 class="wel">WELCOME TO LIVESIO</h1>
                 <h2>Discover your inner potential and happiness</h2>
                  
            </div>
            <img class="lo" src="./images/1663401197072.png" alt="no-logo"></img>
            <div class="images">
                   
                    <img src="https://media.istockphoto.com/photos/boy-draws-with-a-brush-a-big-light-bulb-concept-of-innovation-and-picture-id1133176165?k=20&m=1133176165&s=612x612&w=0&h=j7J93Lkm7npuBWfww93Gkg9z4rko2FXJ4ThFGGrVzDE=" alt="no-img1">
                   <img src="https://www.pinkvilla.com/files/styles/amp_metadata_content_image/public/mindfulness_vs_mediation_main_.jpg" alt="no-img2">
                   <img src="https://images.unsplash.com/photo-1535402803947-a950d5f7ae4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="no-img3">
                     
                     <img src="https://thebridge.in/wp-content/uploads/2020/07/lifestyle2.jpg" alt="no-image4">
                     <img src="https://us.123rf.com/450wm/blankstock/blankstock1904/blankstock190400181/124075886-helpful-tips-symbol-megaphone-banner-education-faq-sign-help-assistance-loudspeaker-with-speech-bubb.jpg?ver=6" alt="no-image5">
                     <img src="https://www.speakeasyinc.com/wp-content/uploads/2016/03/Communication-Myths.jpg" alt="no-image6">
                     <div class="headings">
                        <a href="#">#Be Creative</a>
                        <a href="meditate.ejs">Meditate</a>
                        <a href="#">Globe</a>
                        <a href="lifestyle.ejs">Life style</a>
                        <a href="#">Tips</a>
                        <a href="#">Myths</a>
                     </div>
                     
                 </div>
                
            
     </div>  
    </body>
    
</html>
