<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/inspired.css" type="text/css">

<!--<style>
    .header{
               /* background-color:black;*/
                color: white;
                position: absolute;
                height: 60px;
                top: 20px;
                left: 0px;
                right: 0px;
                font-size: 10px;
                
            }
            
            .h1{
                display: inline-block;
                margin-left: 60px;
                font-size: 23px;
                color: black;

            }
            .header .h1:hover{
                color: white;
                
            }
            .h3{
                display: inline-block;
                margin-left: 60px;
                color: black;

            }
            .header .h3:hover{
                color: white;
                
            }
            .h4{
                display: inline-block;
                margin-left: 60px;
color: black;
            }
            .header .h4:hover{
                color: white;
                
            }
            .h5{
                display: inline-block;
                margin-left: 60px;
                color: black;
            }
            .header .h5:hover{
                color: white;
                
            }
            .h6{
                display: inline-block;
                margin-left: 80px;
                color: black;
            }
            .header .h6:hover{
                color: white;
                
            }
            .h7{
                display: inline-block;
                margin-left: 80px;
                color: black;
            }
            .header .h7:hover{
                color: white;
                
            }
            input{
                margin-left: 40px;
width: 300px;
height: 20px;
border-radius: 10px;
    
            }
.body{
    height: 120vh;
                background: linear-gradient(120deg, aliceblue ,#2c3e50)
}
.topbox img{
    position: absolute;
                top: 10px;
                left: 10px;
                right: 20px;
                width: 99%;
                height: 500px;
                opacity: 0.7;
}
.topbox h1{
    font-family: fantasy;
   top: 190px;
   position: absolute;
left: 39%;
font-weight: bolder;

}
.topbox h2{
    font-family: fantasy;
   top: 240px;
   position: absolute;
left: 31%;
font-weight: bolder;
}
.body h3{
    top: 527px;
    position: absolute;
}
.body h1{
    top: 600px;
    position: absolute;
}
.body a{
top: 700px;
position: absolute;
left: 15%;
font-size: 30px;
color: lavender;
}
.body .a1{
    top: 780px;
    position: absolute;
    left: 15%;
    font: size 30px; 
    color: lavender;
}
.body .a2{
    top: 850px;
    position: absolute;
    left: 13%;
    font-size: 30px;
}


</style>-->
    </head>
<body>
    <div class="body">
        <h3>
            Do you sometimes feel low or just feel demotivated? We know it can happen sometimes esp during this lockdown but hey! We've got your back. We.ve compiled some motivational links (and quotes) along with some educational channels so that you simply on't have time to feel low!

        </h3>
        <h1>
            CLICK ON THE QUOTES TO WATCH A MOTIVATIONAL VIDEO !
        </h1>
        <a href="#">
            1. "Success is not final, failure is not fatal: it is the courage to continue that counts."
        </a>
        <a class="a1" href="#">
            2. "Never bend your head. Always hold it high. Look the world straight in the eye." 
        </a>
        <a class="a2" href="#">
            3. "Inspiration comes from within yourself. One has to be positive. When you're positive, good things happen." 
        </a>
    </div>
<div class="topbox">
    <img src="https://free4kwallpapers.com/uploads/originals/2019/07/16/edge-of-inspiration-by-gweenbleidd-wallpaper.jpg" alt="">
    <h1>
        GET INSPIRED
    </h1>
    <h2>
        Your limitation — it's only your imagination.
    </h2>
</div>
    <div class="header">
            
        <a href="homepage.ejs"><h1 class="h1">Home</h1></a>
                <a href="twitter.ejs"><h1 class="h3">Hilariously Tweeted</h1></a>
                <a href="meme.ejs"><h1 class="h4">Meme It</h1></a>
               
                <input class="input" type="name" placeholder="search here!"> 
                <a href="inspired.ejs"><h1 class="h5">Get Inspired</h1></a>
               <a href="stories.ejs"> <h1 class="h6">Stories</h1></a>
               <a href="#"> <h1 class="h7">Experience it</h1></a>
        
    </div>


    
</div>
</body>
    </html>
