<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/lifestyle.css" type="text/css">

<!--<style>
    .header{
               /* background-color:black;*/
                color: black;
                position: absolute;
                height: 60px;
                top: 0px;
                left: 0px;
                right: 0px;
                font-size: 10px;
                font-weight: bolder;}
    .body1 img{
                position: absolute;
                top: 55px;
                left: 10px;
                right: 20px;
                width: 99%;
                height: 500px;
                opacity: 0.6;
                
            }
            .body{
                height: 130vh;
                background: linear-gradient(120deg,#bdc3c7 ,#2c3e50);
               width: 100%;
            }
            .h1{
                display: inline-block;
                margin-left: 60px;
                color: white;
            }
            .header h1:hover{
                color: black;
            }
            .h3{
                display: inline-block;
                margin-left: 60px;
                color: white;

            }
            .header h3:hover{
                color: black;
            }
            .h4{
                display: inline-block;
                margin-left: 60px;
color: white;
            }
            .header h4:hover{
                color: black;}
            .h5{
                display: inline-block;
                margin-left: 80px;
                color: white;
            }
            .header h5:hover{
                color: black;}
            .h6{
                display: inline-block;
                margin-left: 60px;
                color: white;
            }
            .header h6:hover{
                color: black;}
            .h7{
                display: inline-block;
                margin-left: 80px;
                color: white;
            }
            .header .h7:hover{
                color: black;
            }
            input{
    
    margin-left: 50px;
   width: 300px;
   height: 24px;
   border-radius: 10px;
   background-color: white;
   top: 0px;
        }
        .body h1{
            top: 540px;
            position: absolute;
            left: 26%;
            font-family: cursive;
        }
        .body h3{
            top: 600px;
            position: absolute;
            left: 2%;
            font-size: 23px;
            font-weight: 30px;
            
        }
        .body h6{
            top: 690px;
            position: absolute;
            left: 2%;
            font-size: 25px;
        }
body .p1{
    top: 760px;
            position: absolute;
            left: 2%;
            font-size:  20px ;
}
       .body h5{
            top: 820px;
            position: absolute;
            left: 2%;
            font-size: 25px;
}
body .p2{
    top: 880px;
            position: absolute;
            left: 2%;
            font-size:  20px ;
}
body .p3{
    top: 1000px;
            position: absolute;
            left: 2%;
            font-size:  20px ;
}
.body h4{
            margin-top: 920px;
            position: absolute;
            left: 2%;
            font-size: 25px;
}
.text{
                position: absolute;
                top: 230px;
                left: 43%;
                right: 100px;
                font-size: 45px;
                font-weight: bolder;
            }
            .subt{
                top: 300px;
                left: 34%;
                right: 180px;
                position: absolute;
                font-size: 25px;
                font-weight: bold;
            }
            .bt{
                position: absolute;
                top: 530px;
                left: 48%;
                right: 10px;
                width: 10px;
                height: 10px;
                box-shadow: 20px 0px 80px 2px black;
            }

</style>-->
    </head>
    <body>
        <div class="body">
            <h1>You only live once, but if you do it right, once is enough</h1><br><br><br>
            <h3>
                During these difficult times, your mental and physical health needs a bit of support. So, we've gathered together some ideas on how to stay healthy during the lockdown. Hopefully, they can give you some inspiration as the lockdown continues:
            </h3>
            <h6>
                1. Stay in touch with friends and family: 
            </h6>
            <p class="p1">
                In these difficult times, it’s important to focus on some of the positives in our lives. One such positive is our access to technology, and how it can be such a powerful tool for bringing us together. With our smartphones, internet access, webcams, and other methods of communication, it’s never been easier to stay in touch..
            </p>
            <h5>
                2. Get enough sleep:
            </h5>
            <p class="p2">
                Sleep plays a fundamental role in mental health. However, when daily life gets disrupted, it’s easy to fall into bad sleep cycles. Try and focus on maintaining a regular bedtime and avoid the temptation of lying in bed for ages in the morning or during the day. Take some time to wind down at the end of the day and avoid having caffeine or alcohol late at night.
            </p>
            <h4>
                3. Stay physically active:
            </h4>
            <p class="p3">
                As well as taking care of your mental health during lockdown, it’s equally important to stay on top of your physical wellbeing. With gyms closed and the daily commute cancelled for most of us, it can seem more difficult to stay active. However, there are plenty of ways you can keep your body moving.
            </p>
            
        </div>
        <div class="body1">
            <img src="https://cdn.shopify.com/s/files/1/0369/4578/9060/articles/19467_Progressive_Blog_Image_Fall_Lifestyle_1200x630_f47ed123-ad8e-4cb5-9c78-20de2119edf5_1200x.jpg?v=1630611529" alt="" >
            <div class="header">
                <a href="homepage.ejs"><h1 class="h1">Home</h1></a>
                <a href="twitter.ejs"><h1 class="h3">Hilariously Tweeted</h1></a>
                <a href="meme.ejs"><h1 class="h4">Meme It</h1></a>
               
                <input class="input" type="name" placeholder="search here!"> 
                <a href="inspired.ejs"><h1 class="h5">Get Inspired</h1></a>
               <a href="stories.ejs"> <h1 class="h6">Stories</h1></a>
               <a href="#"> <h1 class="h7">Experience it</h1></a>
             </div>
            
            <div class="text">LIFE STYLE</div>
            <div class="subt">You only live once, but if you do it right, once is enough</div>
            <div class="bt"><button>More..</button></div>

    

        </div>
    </body>
</html>