<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/meme.css">
<!--<style>
    .header{
        color: aliceblue;
                position: absolute;
                height: 60px;
                top: 80px;
                left: 0px;
                right: 0px;
                font-size: 11px;
                
    }
    .h1{
        display: inline-block;
        margin-left: 60px;
        text-shadow: 1px 1px 2px;
    }
    .header h1:hover{
        color: black;
    }
    .h2{
        display: inline-block;
        margin-left: 60px;
        text-shadow: 1px 1px 2px;
    }
    .header h2:hover{
        color: black;
    }
    .h3{
        display: inline-block;
        margin-left: 60px;
        text-shadow: 1px 1px 2px;
    }
    .header h3:hover{
        color: black;
    }
    
    .h4{
        display: inline-block;
        margin-left: 60px;
        text-shadow: 1px 1px 2px;
    }
    .header h4:hover{
        color: black;
    }
    .h5{
        display: inline-block;
        margin-left: 60px;
        text-shadow: 1px 1px 2px;
    }
    .header h5:hover{
        color: black;
    }
    .h6{
        display: inline-block;
        margin-left: 80px;
        text-shadow: 1px 1px 2px;
    }
    .header h6:hover{
        color: black;
    }
    .h7{
        display: inline-block;
        margin-left: 100px;
        text-shadow: 1px 1px 2px;
    }
    .header .h7:hover{
        color: black;
    }
    .body{
        height: 150vh;
       /*background-image: url("https://i.pinimg.com/474x/a6/56/23/a65623b21bd407284697726d01f39c7e.jpg");
       background-repeat: no-repeat;
       background-size: -100%,-100%;
       transform: 100%,100%;
                /*background: linear-gradient(120deg,#bdc3c7 ,#2c3e50)*/
    }
    .body1{
        position: absolute;
            background-color: rgba(0, 0, 0, 0.34);   
               top: 0px;
               height: 1600px;
               width: 100%;
               left: 0px;
               margin: 0 auto;
            

    }
   
    
    h9{
                
                color: black;
                margin-left: 40%;
                font-size: 60px;
                text-shadow: 1px 1px 1px 1px brown;
            }
            /*.meme{
                height: 380px;
                width: 900px;
                border: solid black;
                position: relative;
                top: 300px;
                left: 200px;

            }*/
            input{
                margin-left: 10px;
               width: 300px;
            height: 20px;
            border-radius: 10px;
            }
            .create{
                height: 80px;
                width: 250px;
                left: 39%;
                position: absolute;
                top: 220px;
                border-radius: 10px;

            }
            .md{
                height: 380px;
                width: 400px;
                border: solid black;
                position: relative;
                top: 300px;
                left: 500px;
                border-width: thin;
                margin-bottom: 30px;
                background-color: rgba(240, 248, 255, 0.89);



                
            }
            .md1{
                height: 380px;
                width: 400px;
                border: solid black;
                position: relative;
                top: 300px;
                left: 500px;
                border-width: thin;
                background-color: rgba(240, 248, 255, 0.89);
                margin-bottom: 30px;
                

            }
            .md2{
                height: 380px;
                width: 400px;
                border: solid black;
                position: relative;
                top: 300px;
                left: 500px;
                border-width: thin;
                background-color: rgba(240, 248, 255, 0.89);
                
            }
            .background{
                background-image: url("https://media.istockphoto.com/vectors/laughing-with-tears-and-pointing-emoticon-vector-id639765496?k=20&m=639765496&s=170667a&w=0&h=KrWkrsw_H676gST4Nzo3WdcGbBTwb7felUlG-eSdYi0=");
                position: absolute;
                width: 100%;
                height: 1600px;
                opacity: 0.7;
                
            }
           .md button{
                position: absolute;
                top: 350px;
                left: 80px;
                
            }
            .bt2{
                position: absolute;
                top: 350px;
                margin-left: 150px;
            }
            .md1 button{
                position: absolute;
                top: 350px;
                left: 80px;

            }
            .bt3{
                position: absolute;
                top: 350px;
                margin-left: 150px;
            }
            .md2 button{
                position: absolute;
                top: 350px;
                left: 80px;

            }
            .bt4{
                position: absolute;
                top: 350px;
                margin-left: 150px;
            }
            a{
                text-decoration: none;
                color: white;
            }

</style>-->
    </head>
<body>
    <div class="background"></div>
    <div class="body"></div>
    <div class="body1">
        <div class="memes">
            <h9>#MEME IT</h9>

           
             <div class="header">
                <a href="homepage.ejs"><h1 class="h1">Home</h1></a>
                <a href="twitter.ejs"><h1 class="h3">Hilariously Tweeted</h1></a>
                <a href="meme.ejs"><h1 class="h4">Meme It</h1></a>
               
                <input class="input" type="name" placeholder="search here!"> 
                <a href="inspired.ejs"><h1 class="h5">Get Inspired</h1></a>
               <a href="stories.ejs"> <h1 class="h6">Stories</h1></a>
               <a href="#"> <h1 class="h7">Experience it</h1></a>
                
            </div>
            <button class="create">CREATE A MEME TODAY</button>
           
            <div class="md"> <h3><%=USERNAME%></h3><hr style="margin-top: 50px;"><hr style="margin-top: 250px;"><button>Comment</button><button class="bt2">Likes</button><span id="count1">3345</span>
                
            <img src="https://cdn.memes.com/up/29642091639246826/i/1650340600749.jpg" alt="" style="width: 330px;height: 220px;top: 110px;position: absolute;left: 30px;">
            </div>
            <div class="md1"><h3><%=USERNAME%></h3><hr style="margin-top: 50px;"><hr style="margin-top: 250px;"><button>Comment</button><button class="bt3">Likes</button><span id="count1">3345</span>
                <img src="https://cdn.memes.com/up/24246901585609535/i/1663203953909.jpg" alt="" style="width: 360px;height: 220px;top: 110px;position: absolute;left: 30px;">
            </div>
            <div class="md2"><h3><%=USERNAME%></h3><hr style="margin-top: 50px;"><hr style="margin-top: 250px;"><button>Comment</button><button class="bt4">Likes</button><span id="count1">3345</span>

                <img src="https://cdn.memes.com/up/93339531623803889/i/1663267574542.jpg" alt="" style="width: 370px;height: 220px;top: 110px;position: absolute;left: 30px;">

            
            </div>
            <script>
                var clicked1=false;
                var clicked2=false;
                var clicked3=false;
                function like1()
                {
                    var btn1 = document.getElementById('like1');
                    let count = document.querySelector("#count1");
                    
                    if (!clicked1) 
                    {
                        clicked1 = true;
                        count.textContent++;
                        
                    } 
                    else
                    {
                        clicked1 = false;
                        count.textContent--;
                    }
                }

                function like2()
                {
                    var btn1 = document.getElementById('like2');
                    let count = document.querySelector("#count2");
                    
                    if (!clicked2) 
                    {
                        clicked2 = true;
                        count.textContent++;
                        
                    } 
                    else
                    {
                        clicked2 = false;
                        count.textContent--;
                    }
                }

                function like3()
                {
                    var btn1 = document.getElementById('like3');
                    let count = document.querySelector("#count3");
                    
                    if (!clicked3) 
                    {
                        clicked3 = true;
                        count.textContent++;
                        
                    } 
                    else
                    {
                        clicked3 = false;
                        count.textContent--;
                    }
                }
            </script>
</body>
    </html>
